body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: url("./images/bg-hero-desktop.svg");
    padding: 2rem;
}

.main-header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.logo{
    width: 15%;   
}

.try-it-free{
    font-size: 15px;
    font-weight: 600;
    border: none;
    padding: 8px 20px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 1em 0.5em ; */
}

.subheader{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.huddle{
    width: 35%;
    font-size: 20px;
}

.mockup{
    width: 45%;
    align-items: end;
}

.about-huddles{
    font-size: 17px;
    padding-bottom: 1.5rem;
}

.free-trial{
    padding: 12px 35px;
    border: none;
    border-radius: 20px;
    background-color: #fe7dd1;
    color: #fff;
    cursor: pointer;
}

.grow-together{
    width: 70%;
    padding: 2rem;
    display: flex;
    border: none;
    border-radius: 15px;
    margin: 2rem auto;
    justify-content: space-between;
}

#grow-svg-mobile{
    display: none;
}

.illustration-text{
    width: 30%;
    padding: 5rem;
}

p{
    font-size: 13.5px;
    opacity: 0.6;
}

.illustration-svg{
    width: 35%;
}

.Ready{
    font-size: 18px;
    padding:2.5rem 1.5rem;
    width: 40%;
    margin: 4rem auto;
    border: 2px solid rgb(224, 220, 220);
    border-radius: 15px;
    text-align: center;
    margin-bottom: -4rem;
    background-color: #fff !important;
    z-index: 1;
    z-index: 1;
    position: relative;
    /* box-shadow: 2px 2px rgb(228,234,231); */
}

footer{
    background-color: #00252f;
    padding: 90px 70px 50px 70px;
    color: #fff;
    z-index: -1;
}

.footermain{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1rem;
}

.F-logo{
    display: flex;
}

.F-logo-content{
    font-size: 25px;
    opacity: 1;
}

.footer-column-info{
    display: flex;
    align-items: baseline;
}

.address{
    width: 70%;
}

.about-us{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   opacity: 0.6;
   cursor: pointer;
}

.footer-details{
    padding-left: 1rem;
    opacity: 0.6;
}

.socials{
    display: flex;
}

.icon:hover{
    color:#fe7dd1 ;
}

.icon{
    padding: 10px;
    transition: color 0.3s;
    border: 1px solid white;
    border-radius: 50%;
}

.facebook{
    margin: auto 0.5rem;
}

.twitter{
    margin: auto 0.5rem;
}

.instagram{
    margin: auto 0.5rem;
}

.copyright{
    font-size: 10px;
    text-align: end;
    padding-right: 80px;
}

@media screen and (max-width: 1100px) {
    footer{
        padding: 70px 30px 30px 30px;
    }
}

@media screen and (max-width: 969px) {
    footer{
        padding: 70px 40px 30px 40px;
    }
    .footermain{
        grid-template-columns: 1fr;
    }
    .about-us{
        grid-template-columns: 1fr 1fr;
    }
    .copyright{
        text-align: start;
    }

}

@media screen and (max-width: 950px) {

    header{
        background-image: url("./images/bg-hero-mobile.svg");
        padding: 2rem;
    }

    .subheader{
        display: block;
        text-align: center;
    }

    .huddle{
        margin: 1rem auto;
        width: 80%;
        padding: 1rem;
    }

    .grow-together{
        display: block;
        text-align: center;
        margin: 1rem auto;
        width: 70%;
    }

    .illustration-svg{
        width: 100%;
    }

    #grow-svg-desktop{
        display: none;
    }

    #grow-svg-mobile{
        display: block;
    }

    .illustration-text{
        margin: auto;
        padding: 1rem 2rem;
        width: 60%;
      
    }

    .Ready{
        width: 65%;
        padding:2rem 1.5rem;
    }
}